<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Account</title>
  <link rel="stylesheet" href="../static/css/site.css ">
</head>

<body>

  <div class="container">
    <h1>Create Account</h1>
    <form action="/new_account/" method="POST" class="form-login">

      <label for="username">Username</label>
      <p>(no special characters allowed)</p>
      <input name="username" id="username" type="text" placeholder="Username" autocomplete="false"></input>

      <label for="password">Password</label>
      <input name="password" id="password" type="password" placeholder="Password" autocomplete="new-password"></input>
      <div class="b2">
        <label for="see">Show password</label>
        <input type="checkbox" id="see" name="see">
      </div>
      <ul class="password-requirements">
        <li id="sixteen">Only - 16 characters</li> 
        <li id="dig">At least - One Digit</li> 
        <li id="letter">At least - One letter</li> 
        <li id="sped">At least - One special character</li> 
      </ul>

      <input type="submit" value="Create Account" class="btn login mg-20">

    </form>
  </div>

</body>
<script src="/static/js/app.js"></script>
</html>