<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/site.css ">
</head>
<body>

<div class="container">
<h1>Login</h1>
<form action="/connection/" method="POST" class="form-login">

      <label for="username">Username</label>
      <input name="username" id="username" type="text" placeholder="Username" autocomplete="username"></input>

      <label for="password">Password</label>
      <input name="password" id="password" type="password" placeholder="Password" autocomplete="current-password"></input>
          <div class="b2">
        <label for="see">Show password</label>
        <input type="checkbox" id="see" name="see">
      </div>
      <input type="submit" value="Login" class="btn login mg-20">
</form>
</div>
</body>
<script src="/static/js/app.js"></script>
</html>